In [1]:
import pandas as pd

pd.set_option('display.max_columns',120)
pd.set_option('display.max_rows',100)

df = pd.read_csv('./data/survey_results_public.csv')
schema_df = pd.read_csv('./data/survey_results_schema.csv',index_col='qname')

In [ ]:
# Missing values can np.nan , None , 'NA' , 'Missing'

# df.dropna()

# The default arguments is 

# df.dropna(axis='index',how='any')

# Axis can be set to index or columns 

# index is rows , columns is columsn 

# by defauly how is 'any' ....how == 'all'

In [ ]:
# df.dropna(axis='Columns',how='any')

# This will drop all the columns if any column has all none values 

# Imagine you have a row with all columns i.e, one null in all columns .. if you set the drop to columns and how to any it will drop all rows

In [ ]:

# subset is the column names that we are checking for missing values 
# df.dropna(axis='index',how='any',subset=['email'])
# When you add two columns in subset its return rows that has eiether lastname or email address email 
# iF how = all both of the columns in the subset needed to be null for the row to be dropped 
# df.dropna(axis='index',how='all',subset=['email','last'])

# If you want to permamently drop inplace=-True

In [ ]:
# Custom NA values 'NA' , 'Missing'

# df.replace('NA',np.nan,inplace=True)
# df.replace('missing',np.nan,inplace=True)

In [ ]:
# to find null valu8es 

# df.isna()

# This will give you a mask of values that are equal to null True Flase values

In [ ]:
# fill na fills the null with str's
# df.fillna('MISSING')

# Now all nulls will be replaced by missing

# df.fillna(0,inplace=True)

In [ ]:
# Casting Data Types
# This is an atribute not a object
# df.dtypes
# results will be strs or object

In [ ]:
#  This will change the entire dataframe to floats 
# df.astype(float)

# df['age'] =  df['age'].astype(float)

# The above code changes the only one column to float

In [ ]:

# Hnadle missing values while laoding data 
import pandas as pd

pd.set_option('display.max_columns',120)
pd.set_option('display.max_rows',100)
na_vals = ['NA','Missing']
df = pd.read_csv('./data/survey_results_public.csv',index_col='ResponseId',na_values=na_vals)
schema_df = pd.read_csv('./data/survey_results_schema.csv',index_col='qname')

In [3]:
df['YearsCode'].mean()

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [4]:
df['YearsCode'].astype(float)

ValueError: could not convert string to float: 'More than 50 years'

In [5]:
df['YearsCode'].unique()

array([nan, '20', '37', '4', '9', '10', '7', '1', '15', '30', '31', '6',
       '12', '22', '5', '36', '25', '44', '24', '18', '3', '8',
       'More than 50 years', '11', '29', '40', '39', '2', '42', '34',
       '19', '35', '16', '33', '13', '23', '14', '28', '17', '21', '43',
       '46', '26', '32', '41', '45', '27', '38', '50', '48', '47',
       'Less than 1 year', '49'], dtype=object)

In [6]:
# convert less than a yesr to 0 
df['YearsCode'].replace('Less than 1 year',0,inplace=True)

In [7]:
# convert More than 50 year to 51
df['YearsCode'].replace('More than 50 years',51,inplace=True)

In [11]:
# Cast as float
df['YearsCode'] = df['YearsCode'].astype(float)

In [12]:
df['YearsCode'].mean()

14.197497870350265

In [13]:
df['YearsCode'].median()

11.0