In [2]:
#Lets learn dataframe basics
# Dataframes are simalar to dictionaries in python
people = {
    "first" : ["corey","jane","john"],
    "last":["schafer","doe","doe"],
    "email":["Cschafer@gmail.com","janedoe@gmail.com","johndoe@gmail.com"]}

In [ ]:
# This returns the list
people['email']

['Cschafer@gmail.com', 'janedoe@gmail.com', 'johndoe@gmail.com']

In [5]:
import pandas as pd 

df = pd.DataFrame(people)

In [ ]:
df
# O,1,2 on lft hand side are indexes

   first     last               email
0  corey  schafer  Cschafer@gmail.com
1   jane      doe   janedoe@gmail.com
2   john      doe   johndoe@gmail.com

# print(type(df['email']))
# Dataframe is a combionation of rows and columns and a series is just rows of data for a single column
# A dataframe is a container of multiple of such series 
# Series also have index

# This is the same as using df['email'] but using df['email'] is a best practise
# df.email

In [ ]:
# This return the series 
df['email']

0    Cschafer@gmail.com
1     janedoe@gmail.com
2     johndoe@gmail.com
Name: email, dtype: object

In [10]:
# Accesss multiple columns
df[['last','email']]

      last               email
0  schafer  Cschafer@gmail.com
1      doe   janedoe@gmail.com
2      doe   johndoe@gmail.com

# df.columns gives all columns 
# If you want to access rows you have loc and iloc methods 

# Iloc is integer location
# if you want to get the first row you can do

In [ ]:
df.iloc[0]

first                 corey
last                schafer
email    Cschafer@gmail.com
Name: 0, dtype: object

# for second row
# df.iloc[1]
# for first and second row
# df.iloc[[0,1]]
# in iloc 
# df.iloc[rows,columns]
# lets say you want one and two rows of column 3 
# df.iloc[[0,1],2]

In [16]:
df.loc[0]

first                 corey
last                schafer
email    Cschafer@gmail.com
Name: 0, dtype: object

# Filtering basics
# You define the filter contion & is and and Pipe symbol(vertical Bar) or condition

In [ ]:

filter_conditon = (df['last']=='doe') & (df['first']=='john')

# Adding ~ gives you the opposite of the filter

In [ ]:

df.loc[~filter_conditon,'email']

0    Cschafer@gmail.com
1     janedoe@gmail.com
Name: email, dtype: object

# rename all columns using below code

In [ ]:

df.columns = ['first_name','last_name','email_address']
df

#List comprehension to do operation on all columns

In [8]:
df.columns = [x.upper() for x in df.columns]
df

  FIRST_NAME LAST_NAME       EMAIL_ADDRESS
0      corey   schafer  Cschafer@gmail.com
1       jane       doe   janedoe@gmail.com
2       john       doe   johndoe@gmail.com

In [10]:
df.columns =  df.columns.str.replace('_','')
df

  FIRSTNAME LASTNAME        EMAILADDRESS
0     corey  schafer  Cschafer@gmail.com
1      jane      doe   janedoe@gmail.com
2      john      doe   johndoe@gmail.com

In [12]:
df.columns = [x.lower() for x in df.columns]
df

  firstname lastname        emailaddress
0     corey  schafer  Cschafer@gmail.com
1      jane      doe   janedoe@gmail.com
2      john      doe   johndoe@gmail.com

# Rename specific columns in dataframe by passing a dictionary

In [ ]:
df.rename(columns={'firstname':'first','lastname':'last'},inplace=True)

# change elements in index 2

In [ ]:
df.loc[2] = ['john','smith','Johnsmith@gmail.com']

In [36]:
df.loc[2,['last','emailaddress']] = ['Doe','JohnDoe@gmail.com']

In [ ]:
# Changing the value at specific index can be done using 
# When you are setting values just use .loc or .at
# df.loc[2,'last'] = 'Smith'
df.at[2,'last'] = 'Smith'

In [38]:
df

   first     last        emailaddress
0  corey  schafer  Cschafer@gmail.com
1   jane      doe   janedoe@gmail.com
2   john    Smith   JohnDoe@gmail.com

In [41]:
# Apply , map , applymap , replace

df['emailaddress'].apply(len)

def update_email(email):
    return email.upper()

df['emailaddress'] = df['emailaddress'].apply(update_email)

In [ ]:
# This is how apply works on series objects
df['emailaddress'] = df['emailaddress'].apply(lambda x: x.lower())

In [44]:
df

   first     last        emailaddress
0  corey  schafer  cschafer@gmail.com
1   jane      doe   janedoe@gmail.com
2   john    Smith   johndoe@gmail.com

In [45]:
# When we run apply in a dataframe it runs a function on each row and column of the data

df.apply(pd.Series.min)

first                        corey
last                         Smith
emailaddress    cschafer@gmail.com
dtype: object

In [ ]:
# Running apply on a dataframe applies function on all series in a dataframe 
# Running apply on a series applies to all values in series 
# Running applymap on a dataframe applies functon to every indivudual element in the dataframe

# Apply map only works for dataframes

In [ ]:
# Map is only works on a series 
df.applymap(str.lower)
df['first'].map({'corey':'chris','jane':'mary'})
# Map remove the values you did not specify and make them NAN 

# to avoid this to happen use replace

C:\Users\venka\AppData\Local\Temp\ipykernel_14472\4016520821.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.applymap(str.lower)

0    chris
1     mary
2      NaN
Name: first, dtype: object

In [49]:
# applymap only works fro dataframes

df['first']=df['first'].replace({'corey':'chris','jane':'mary'})

In [6]:
# combine first name and last name columns 

df['full_name'] = df['first'] + ' ' + df['last']

In [ ]:
# This does not drop columns but setting inpace = True does drop the columns
df.drop(columns=['first','last'])

                email      full_name
0  Cschafer@gmail.com  corey schafer
1   janedoe@gmail.com       jane doe
2   johndoe@gmail.com       john doe

In [10]:
df['full_name'].str.split(' ',expand=True)

       0        1
0  corey  schafer
1   jane      doe
2   john      doe

In [11]:
df[['first','last']] = df['full_name'].str.split(' ',expand=True)

In [12]:
df

   first     last               email      full_name
0  corey  schafer  Cschafer@gmail.com  corey schafer
1   jane      doe   janedoe@gmail.com       jane doe
2   john      doe   johndoe@gmail.com       john doe

In [ ]:
# Add a single row to the dataframe 
new_row = {'first':'Tony'}
df.loc[len(df)] = new_row
df

   first     last               email      full_name
0  corey  schafer  Cschafer@gmail.com  corey schafer
1   jane      doe   janedoe@gmail.com       jane doe
2   john      doe   johndoe@gmail.com       john doe
3   Tony      NaN                 NaN            NaN
4   Tony      NaN                 NaN            NaN

In [17]:
people_2 = {
    "first" : ["Tony","Steve","Bruce"],
    "last":["schafer","doe","doe"],
    "email":["tonyschafer@gmail.com","stevedoe@gmail.com","brucedoe@gmail.com"]}

In [18]:
df_2 = pd.DataFrame(people_2)

In [23]:
df_3 = pd.concat([df,df_2],ignore_index=True)

In [24]:
df_3

   first     last                  email      full_name
0  corey  schafer     Cschafer@gmail.com  corey schafer
1   jane      doe      janedoe@gmail.com       jane doe
2   john      doe      johndoe@gmail.com       john doe
3   Tony      NaN                    NaN            NaN
4   Tony      NaN                    NaN            NaN
5   Tony  schafer  tonyschafer@gmail.com            NaN
6  Steve      doe     stevedoe@gmail.com            NaN
7  Bruce      doe     brucedoe@gmail.com            NaN

In [ ]:
# Drop data based on a condition
df_3.drop(index=df[df['last'] == 'doe'].index)

   first     last                  email      full_name
0  corey  schafer     Cschafer@gmail.com  corey schafer
3   Tony      NaN                    NaN            NaN
4   Tony      NaN                    NaN            NaN
5   Tony  schafer  tonyschafer@gmail.com            NaN
6  Steve      doe     stevedoe@gmail.com            NaN
7  Bruce      doe     brucedoe@gmail.com            NaN